.page-404{
    width: 60vw;
    margin: 10rem auto 6rem;
    h1{
        font-size: 8rem;
        margin-bottom: 0;
    }
    h2{
        font-weight: lighter;
        color: $brand-primary;
        margin-bottom: 2rem;
    }
}
