.home{
    height: 80vh;
}

// Logo en button in header-image
.header-items{
    margin: -22rem 0 6rem;
    
    img{
        width: 10rem;
    }
}

#pg-1961-0, #pg-1961-1, #pg-1961-2, #pl-1961 .so-panel{
    margin-bottom: 1rem;
}