.realisaties_wrap{
    width: 80%;
    min-width: 300px;
    margin: 2rem auto 0;
    overflow: auto;

    
    .realisatie{
        min-width: 300px;
        height: 22rem;
        padding: 1rem;
        box-sizing: border-box;
        margin: 1rem auto 3rem;
        float: left;
            

        
        img{
            width: 100%;
            height: auto;
        }
        
        h3{
            margin: 1rem 0;
        }
        
        p{
            margin: 0;
        }
                    
        .diensten{
            font-size: 0.8rem;
            margin-top: 0.5rem;
            
            a{
            color: $brand-primary;
        }
        }
    }
}


.filter{
    padding: 0;
    overflow: auto;
    margin: 1.5rem auto 0;
    
    display: inline-block;
    width: 100%;
    overflow: auto;
    
    li{
        display: inline-flex;
        list-style-type: none;
        margin: 0 0.8% 1rem;
        width: 12%;
        
        a:hover{
            text-decoration: none;
        }
    }
    .filter-icon{
        width: 100%;
        height: auto;
    }
}