.wprmenu_bar,
.wrap,
footer,
.page-header,
#mapDiv{ min-width: 340px;}

.max-width{
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}
.break{
    display: none;
}

.realisatie{
    width: 33.33%;
}


/* // MAX WIDTH 2170PX
@media screen and (max-width: 2170px){
    //STANDARD
    header{
        font-size: 1.5rem;
    }
    
    main{
        h1{
            font-size: 4rem;
        }
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.6rem;
        }
    }
    
    footer{
        .call-to-action{
            font-size: 3rem;
            line-height: 4rem;
        }
        .icons{
            width:40%;
        }
        
        .copyright{
            font-size: 1rem;
        }
    }
    
    
// HOME
    main{
         .button-contact{
            font-size: 1.8rem;
        }
        .header-items{
            margin: -26rem auto 8rem;
        }
    }
    
    
// ABOUT
    .about-header{
        img{
            .panel-grid-cell{
                display: block;
                float: none;
                clear: both;
            }
        }
    }
} */


// MAX WIDTH 1111PX
@media screen and (max-width: 1111px){
    // REALISATIES
    .realisatie{
        width: 49%;
    }
}


// MAX WIDTH 1024PX
@media screen and (max-width: 1024px){
    //HEADER
    .logo{
        top: 14rem;
    }
    .contactbtn{
        top: 20rem;
    }
}


// MAX WIDTH 800PX
@media screen and (max-width: 800px){
    //HEADER
    .logo{
        width: 50%;
        top: 10rem;
    }
    .contactbtn{
        top: 16rem;
    }
}


// MAX WIDTH 790PX
@media screen and (max-width: 790px){
    
    // GENERAL
    footer{
        .call-to-action{
            font-size: 1.8rem;
            line-height: 2.3rem;
            margin-bottom: 1rem;
        }
        .icons{
            .svg{
                width: 2rem;
                height: 2rem;
            }
            h4{
                font-size: 1rem;
                display: none;
            }
        }
        .copyright{
            font-size: 0.6rem;
        }
    }
    
    // HOME
    .header-items{
        margin-top: -17rem;
    }
    main{
        h3{
            font-size: 1rem;
        }
    }
    
    
    // ABOUT
    .about-header{
        h2{
            font-size: 2rem;
        }
        h6{
            font-size: 1rem;
        }
    }
}


// MAX WIDTH 780PX
@media screen and (max-width: 780px){
    // GENERAL
    .header-items{
        max-width: 60%;
        margin: -18rem auto 5rem;
    }
    .max-width{
        max-width: 80%;
        margin: 0 auto;
    }
    .panel-layout{
        max-width: 80%;
        margin: 0 auto;
    }
    .dienst-icons{
        max-width: 200px;
        margin: 0 auto;
    }
    
    
    // FOOTER
    .call-to-action,
    .icons{
        display: block;
        clear: both;
        margin: 1rem auto;
        
    }
    
    // ABOUT
    .about-body{
        width: 100%;
    }
    
    // REALISATIES
    .realisatie{
        width: 100%;
        text-align: center;
    }
     h3.realisatie-naam{
        font-size: 1.3rem;
    }
    
    .filter{
        li{
           margin: 0 0.8% 1rem;
            width: 11.5%;
        }
        .filter-icon{
            width: 100%;
            height: auto;
        }
}
    
    
}


// MAX WIDTH 760PX
@media screen and (max-width: 760px){
    .pipe{display: none;}
    .break{display: inline;}
}

// MAX WIDTH 650PX
@media screen and (max-width: 650px){
    //HEADER
    .logo{
        width: 60%;
        top: 10rem;
    }
    .contactbtn{
        top: 16rem;
    }
    
    //CONTACT
    .naam,
    .onderwerp,    
    .mail,
    .telefoon,
    .vraag{
        width: 100%;
    }
    
    // REALISATIES
    .realisaties_wrap{
        width: 100%;
    }
}


// MAX WIDTH 450PX
@media screen and (max-width: 450px){
    .max-width{
        max-width: 100%;
    }
    
    //HEADER
    .logo{
        width: 80%;
        top: 10rem;
    }
    .contactbtn{
        top: 16rem;
    }
}