header.banner{
    background-color: white;
    width: 100vw;
    overflow: auto;
    position: fixed;
    z-index: 9;
    display: block;
}


nav.nav-primary{
    float: right;
    margin: 0.5rem 3rem 0 0;
    
    /*.sub-menu{
        list-style-type: none;
        padding: 0 0 0 0.5rem;
        display: none;
    }
    .menu-item-has-children:hover{
        .sub-menu{
            display:list-item;
        }
    } */
}

.logo{
    display: block;
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 10rem;
}

.contactbtn{
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 0.3rem 0.6rem;
    position: relative;
    top: 16rem;
    
    border-radius: 25px;
    border: none;
//    min-height: 2rem;
    background-color: $brand-primary;
    
    font-size: 1.2rem;
    color: #fff;
}
.home.page-header a{
    text-decoration: none;
}
.contactbtn:hover{
    cursor: pointer;
}